@font-face {
  font-family: 'consola';
  src: url('https://heart-field-1312908194.cos.ap-shanghai.myqcloud.com/java/font-family/fontello.woff')
}

@font-face {
  font-family: 'fontello';
  src: url('https://heart-field-1312908194.cos.ap-shanghai.myqcloud.com/java/font-family/fontello.woff')
}

@font-face {
  font-family: 'lato';
  src: url('https://heart-field-1312908194.cos.ap-shanghai.myqcloud.com/java/font-family/lato.woff2')
}

@font-face {
  font-family: 'fangzhengheiti';
  src: url('https://heart-field-1312908194.cos.ap-shanghai.myqcloud.com/java/font-family/FangZhengHei.ttf')
}
