@font-face {
    font-family: 'PingFang';
    src: url('./PingFang Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'PingFang';
    src: url('./PingFang Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'PingFang';
    src: url('./PingFang Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'PingFang';
    src: url('./PingFang Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'PingFang';
    src: url('./PingFang Semibold.ttf');
    font-weight: 600;
}